ul.menu-top{
	list-style: none;
	font-size:14pt;
	margin-top: 40px;
	li{
		.pull-left;
		padding-left: 35px;
		color: #91959d;
		
		a{color: #91959d;}
	}
}
.nav-list > li > a {
    font-size: 0.85em;
}
.menu-list{
	display:none;
}